body{
  font-family: "Roboto";
  margin:auto;
}
.app{
  display:flex;
  background: #ededed;
  height:100vh;
}
/* p,h1,h2,h3,h4,h5{
  margin:auto;
} */
::-webkit-scrollbar {
    width: 6px!important;
    height: 6px!important;
}
::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0,.2);
}
::-webkit-scrollbar-track {
    background: hsla(0,0%,100%,.1);
}